<h1 class="mt-4">Gênero</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro</li>
</ol>

<form #generoForm="ngForm" (ngSubmit)="salvar()">

    <div class="alert alert-danger temporario" role="alert" *ngFor="let erro of listaErros">
        <strong>Erro ao cadastrar Gênero!</strong>
        <p> {{ erro.mensagem }} </p>
    </div>

    <div class="alert alert-success temporario" role="alert" *ngIf="cadastrado">
        <strong>Gênero Cadastrado com sucesso!</strong>
    </div>

    <div class="form-group">
        <label for="inputDescricao">Descrição</label>
        <input type="text" class="form-control" name="descricao" id="inputDescricao" 
            [(ngModel)]="genero.descricao">
    </div>

    <button title="submit" class="btn btn-primary btn-espacamento"><i class="fa fa-save"></i> Salvar</button>
</form>