<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <h1>Gêneros</h1>
        <li class="ml-auto"></li>
        <li class="breadcrumb-item"><a routerLink="/home"><i class="icone-home fas fa-home"></i> Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/generos-list"> Gêneros </a></li>
        <li class="breadcrumb-item active"> {{ genero.id == undefined ? 'Cadastrar' : 'Editar' }} </li>
        <div id="linha-horizontal"></div>
    </ol>
</nav>

<form #generoForm="ngForm" (ngSubmit)="salvar()">

    <div class="alert alert-danger temporario" role="alert" *ngFor="let erro of listaErros">
        <strong> {{ msgErro }} </strong>
        <p> {{ erro.mensagem }} </p>
    </div>

    <div class="alert alert-success temporario" role="alert" *ngIf="cadastrado">
        <strong> {{ msgSucesso }} </strong>
    </div>

    <div class="form-group">
        <label for="inputDescricao">Descrição</label>
        <input type="text" class="form-control" name="descricao" id="inputDescricao" 
            [(ngModel)]="genero.descricao">
    </div>

    <button title="submit" class="btn btn-primary btn-espacamento">
        <i class="fa fa-save"></i> Salvar
    </button>
</form>