<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <h1>Gêneros</h1>
        <li class="ml-auto"></li>
        <li class="breadcrumb-item"><a routerLink="/home"><i class="icone-home fas fa-home"></i> Home</a></li>
        <li class="breadcrumb-item active">Gêneros</li>
        <div id="linha-horizontal"></div>
    </ol>
</nav>

<div class="alert alert-danger temporario" role="alert" *ngIf="msgErro != ''">
    <p> {{ msgErro }} </p>
</div>

<div>
    <button type="button" class="btn btn-info btn-novo" (click)="novoGenero()">
        <i class="fas fa-plus"></i> Novo
    </button>
</div>

<br/>

<div class="tabela">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="centralizado">Descrição</th>
                <th scope="col" class="centralizado">Ações</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let genero of listaGeneros">
                <td>
                    <div class="centralizado">
                        {{ genero.descricao }}
                    </div>
                </td>

                <td class="centralizado">
                    <div class="centralizado">
                        <button [routerLink]="[ '/generos-form', genero.id ]"
                            title="Editar"
                            class="btn btn-warning btn-espacamento-tabela">
                            <i class="fa fa-edit"></i> 
                        </button>

                        <button class="btn btn-danger" 
                                title="Excluir">
                             <i class="fa fa-trash"></i> 
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>